name: Job Bot

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */2 * * *"

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: pip install feedparser requests
      - run: python bot.py
